<h1>Listing tochkas</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tochkas.each do |tochka| %>
  <tr>
    <td><%= tochka.name %></td>
    <td>&nbsp;<%= link_to 'Show', tochka %></td>
    <td><%= link_to 'Edit', edit_tochka_path(tochka) %></td>
    <td><%= link_to 'Destroy', tochka, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tochka', new_tochka_path %>
