<%= form_for(@join_tochka_tcategory) do |f| %>
  <% if @join_tochka_tcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join_tochka_tcategory.errors.count, "error") %> prohibited this join_tochka_tcategory from being saved:</h2>

      <ul>
      <% @join_tochka_tcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tochka_id %><br />
    <%= f.number_field :tochka_id %>
  </div>
  <div class="field">
    <%= f.label :tcategory_id %><br />
    <%= f.number_field :tcategory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
