<p id="notice"><%= notice %></p>

<p>
  <b>Tochka:</b>
  <%= @join_tochka_tcategory.tochka_id %>
</p>

<p>
  <b>Tcategory:</b>
  <%= @join_tochka_tcategory.tcategory_id %>
</p>


<%= link_to 'Edit', edit_join_tochka_tcategory_path(@join_tochka_tcategory) %> |
<%= link_to 'Back', join_tochka_tcategories_path %>
