<h1>Listing contents</h1>

<table>
  <tr>
    <th>Point</th>
    <th>News</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @context_elements.each do |context_element| %>
  <tr>
    <td><%= context_element.point_id %></td>
    <td><%= context_element.new_item_id %></td>
    <td><%= link_to 'Show', context_element %></td>
    <td><%= link_to 'Edit', edit_context_element_path(context_element) %></td>
    <td><%= link_to 'Destroy', context_element, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_context_element_path %>
