<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @contact.content_id %>
</p>

<p>
  <b>Contact data:</b>
  <%= @contact.contact_data %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
