<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datum.name %>
</p>

<p>
  <b>Category:</b>
  <%= @datum.category_id %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
