<%= form_for(@new_item) do |f| %>
  <% if @new_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_item.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @new_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :new_category_id %><br />
    <%= f.number_field :new_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
