<h1>Listing news</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_items.each do |new_item| %>
  <tr>
    <td><%= new_item.name %></td>
    <td> &nbsp;<%= new_item.new_category_id %></td>
    <td> &nbsp;<%= link_to 'Show', new_item %></td>
    <td><%= link_to 'Edit', edit_new_item_path(new_item) %></td>
    <td><%= link_to 'Destroy', new_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New news', new_new_item_path %>
