<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @new_item.name %>
</p>

<p>
  <b>Category:</b>
  <%= @new_item.new_category_id %>
</p>


<%= link_to 'Edit', edit_new_item_path(@new_item) %> |
<%= link_to 'Back', new_items_path %>
