<p id="notice"><%= notice %></p>

<p>
  <b>Context element:</b>
  <%= @text.context_element_id %>
</p>

<p>
  <b>Text data:</b>
  <%= @text.text_data %>
</p>


<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
