<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @graphic.content_id %>
</p>
<p>
  <b>Photo:</b></br>
  <%= image_tag @graphic.photo.url(:small) %>
</p>

<%= link_to 'Edit', edit_graphic_path(@graphic) %> |
<%= link_to 'Back', graphics_path %>
