<h1>Listing join_point_categories</h1>

<table>
  <tr>
    <th>Point</th>
    <th>Point_category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @join_point_categories.each do |join_point_category| %>
  <tr>
    <td><%= join_point_category.point_id %></td>
    <td><%= join_point_category.point_category_id %></td>
    <td><%= link_to 'Show', join_point_category %></td>
    <td><%= link_to 'Edit', edit_join_point_category_path(join_point_category) %></td>
    <td><%= link_to 'Destroy', join_point_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Join point category', new_join_point_category_path %>
